@import "/src/tools";

:host {
  display: block;
}

a.link {
  display: block;
  width: 100%;
  padding: 6px;
  margin-bottom: 6px;
  text-decoration: none;
  color: black;
  background-color: map-get($palette, "blue");
  @include round-border(darken(map-get($palette, "blue"), 5%))
}

a.link-active {
  background-color: map-get($palette, "orange");
  @include round-border(map-get($palette, "orange-border"))
}

