<h3>app-parent-default</h3>

<div class="state-change">
  <div>Zmena stavu</div>
  <div class="horizontal">
    <div>Okamžite</div>
    <button (click)="setState(0)">Person A</button>
    <button (click)="setState(1)">Person B</button>
    <button (click)="setState(2)">Person C</button>
    <button (click)="mutateAge()">Mutate age</button>
  </div>
  <div class="horizontal">
    <div>Oneskorene</div>
    <button (click)="setStateDelayed(0)">Person A</button>
    <button (click)="setStateDelayed(1)">Person B</button>
    <button (click)="setStateDelayed(2)">Person C</button>
    <button (click)="mutateAgeDelayed()">Mutate age</button>
  </div>
</div>

<div class="side-by-side">
  <app-child-default [state]="state"></app-child-default>
  <app-child-on-push [state]="state"></app-child-on-push>
</div>
