<h3>Child 2</h3>

<div class="state">
  <div>name: "{{ stateValue.name }}"</div>
  <div>surname: "{{ stateValue.surname }}"</div>
  <div>age: {{ age }}</div>
</div>

<div class="state-change">
  <div>Zmena stavu a iné akcie</div>
  <div class="horizontal">
    <div>Nastav</div>
    <button (click)="setState(0)">Person A</button>
    <button (click)="setState(1)">Person B</button>
    <button (click)="setState(2)">Person C</button>
  </div>
  <div class="horizontal">
    <div>Urob iné</div>
    <button (click)="doAsyncThings()">Počítaj len tak do konzoly</button>
  </div>
</div>
