<h2>Container komponenty</h2>

<h3>
  /app/examples/container-components
</h3>
<p>
  Kontajner komponenty sú také, ktoré hodnoty pre zobrazenie nedostávajú z nadradeného komponentu cez inputy/CVA
  binding, ale si tieto hodnoty zaobstarajú svojou vlastnou iniciatívou - napr. načítaním z API, z local storage,
  výpočtami na základe užívateľovho vstupu a pod.
</p>
<p>
  Prvý komponent má nastavenú <strong>Change Detection Strategy</strong> na <strong>Default</strong> hodnotu:
</p>

<app-container-default></app-container-default>

<p>
  Druhý komponent má nastavenú <strong>Change Detection Strategy</strong> na <strong>OnPush</strong> hodnotu:
</p>

<app-container-on-push></app-container-on-push>

<div class="instructive">
  <h3>Stojí za povšimnutie</h3>
  <ul>
    <li>
      Komponent s Default strategy funguje ako má, bez ohľadu na to či zmeníme hodnotu okamžite alebo oneskorene.
    </li>
    <li>
      Pri komponente s OnPush strategy sú okamžité zmeny hodnôt bez problémov. No oneskorená zmena hodnôt sa správa
      zle...
    </li>
  </ul>
</div>
