<h2>Intro</h2>

<p>
  Príklady v tejto appke sú postavené na zobrazovaní a úprave hodnôt reprezentovaných ako interface
  <strong>Person</strong>. Príklad hodnoty:
</p>
<pre>state: Person = {{ exampleState | json }}</pre>

<p>
  V príkladoch budeme sledovať editáciu hodnôt pomocou komponentov. Tieto sú zobrazované ako zafarbená orámovaná plocha,
  napr. takto:
</p>

<div class="example-component">
  <h3>Nadpis</h3>

  <div class="state">
    Renderovaný state komponentu
  </div>

  <div class="state-change">
    <div>Zmena stavu komponentu cez tlačidlá - len ukážka, tu to nič nerobí :)</div>
    <div class="horizontal">
      <div>Popis akcie</div>
      <button>Akcia 1</button>
      <button>Akcia 2</button>
      <button>Akcia 3</button>
    </div>
  </div>
</div>

<p>
  Svetlá časť komponentu obsahuje <strong>bindingy</strong> ktoré renderujú interný state.<br>
  V spodnej časti sú tlačidlá, ktoré nám umožňujú <strong>manipulovať so stavom</strong>.
</p>

<a [routerLink]="'../container'">Prvá kapitola...</a>
