<h2>Intro</h2>

<p>
  Príklady v tejto appke sú postavené na zobrazovaní a úprave hodnôt representovaných ako interface
  <strong>Person</strong>. Príklad hodnoty:
</p>
<pre>state: Person = {{ exampleState | json }}</pre>

<p>
  Ukážka komponentu:
</p>

<div class="example-component">
  <h3>Nadpis</h3>

  <div class="state">
    Renderovaný state komponentu
  </div>

  <div class="state-change">
    <div>Zmena stavu komponentu cez tlačidlá</div>
    <div class="horizontal">
      <div>Popis akcie</div>
      <button>Akcia 1</button>
      <button>Akcia 2</button>
      <button>Akcia 3</button>
    </div>
  </div>
</div>

<p>
  Svetlá plocha komponentu obsahuje bindingy ktoré renderujú interný state. V spodnej časti sú tlačidlá, ktoré nám
  umožňujú manipulovať so stavom.
</p>
