@import "/src/tools";

:host {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto 1fr;
  grid-template-columns: 230px 1fr;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  grid-row: 1;
  grid-column: 1 / 3;
  display: block;
  background-color: map-get($palette, "blue");
  border-radius: 10px;
  padding: 16px;
}

nav {
  grid-row: 2;
  grid-column: 1;
  display: block;
  background-color: map-get($palette, "grey");
  border-radius: 10px;
  padding: 16px;
}

main {
  grid-row: 2;
  grid-column: 2;
  display: block;
  background-color: white;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 16px;
}
