@import "/src/tools";

html {
  padding: 10px;
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 10px 0;
}

h2, h3, h4 {
  margin-top: 0;
}

.mb {
  margin-bottom: 12px;
}

.horizontal {
  display: flex;

  & > * {
    margin-right: 6px;
  }
}

.state {
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparentize(white, 0.5);
  border-radius: 6px;
  font-weight: bold;
  width: 100%;
}

.state-change {
  .horizontal {
    margin-top: 12px;
  }
  .horizontal :first-child {
    width: 100px;
  }
}

.side-by-side {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
